@media screen and (max-width: 1000px) {
  .upload-section {
    flex-direction: column;

    & > div {
      width: 100%;
    }
  }
  .image-preview {
    margin-left: 0;
    height: 300px;
  }
  .upload-section {
    height: unset;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 25px;
  }
  .drop-zone {
    width: 100%;
  }
}

.navbar {
  margin-bottom: 10px;
}
.nav-icon {
  width: 40px;
  height: 40px;
}

.form-container {
  max-width: 800px;
  margin: auto;

  
  .form-button {
    padding-top: 10px;
    margin: auto;
    button {
      max-width: 200px;
      margin: auto;
    }

  }
}